<button class="btn btn-lg btn-outline-primary" (click)="openAddExpense()">Add Expense</button>
<br>
  
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Edit Expense</th>
        <th scope="col">Delete Expense</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{expense.timestamp.toDate() | date}}</td>
        <td>{{expense.amount}}</td>
        <td>{{expense.category.name}}</td>
        <td>{{expense.description}}</td>
        <td><a (click)="openEditExpense(expense)">Edit</a></td>
        <td><a (click)="deleteExpense(expense.id)">Delete</a></td>
      </tr>
    </tbody>
  </table>