<div class="container">
  <button (click)="auth.logOut()">Logout</button>
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <tbody>
                    <hr>
                  <tr>
                    <th scope="col-2">Username</th>
                    <td scope="col-9">{{accountDetails.username}}</td>
                    <td scope="col-1"><a>Edit</a></td>
                  </tr>
                  <hr>
                  <tr>
                    <th scope="row">Email</th>
                    <td colspan="2">{{accountDetails.email}}</td>
                  </tr>
                  <hr>
                  <tr>
                      <th scope="row">Password</th>
                      <td>password</td>
                      <td><a>Edit</a></td>
                  </tr>
                  <hr>
                </tbody>
            </table>
        </div>
    </div>
</div>