<div class="container">
    <div class="row" style="margin-top: 25vh;">
      <div class="col-lg-3"></div>
      <div class="col-lg-5">
        <h1 class="display-4" style="text-align: center;">Reset Password</h1>
        <br>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Enter Recovery Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
</div>
<br><br><br><br>