<div class="container">
  <br>
  <div class="jumbotron">
    <h1 class="display-4">Accountable for your Accounting.</h1>
    <p class="lead">It is a new, simple and unified way to keep the track of your monthly expenses.</p>
    <hr class="my-4">
    <p>Everyone wants to manage their expenses efficiently and smartly.
    <br>
      We provide you the best way to keep a track of your monthly expenses.
    <br>
      Click <b>Sign up</b> button <b>Become a member of Accurate Family.</b></p>
    <a class="btn btn-info" routerLink="/home/signup" role="button">Sign up</a>
    <hr class="my-4">
    <p>Click <b>Sign in</b> button if you already have an account.</p>
    <a class="btn btn-info" routerLink="/home/signin" role="button">Sign in</a>
  </div>
</div>